<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="robots" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
  <meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
  <meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
  <meta name="format-detection" content="telephone=no">
  <!-- PAGE TITLE HERE -->
  <title>Hernandito Publicidad
</title>
  <link href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style1.css">

</head>
{{> header}}


<body>
 
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <h3>Hernandito Publicidad</h3>
        <h5>Software de control para la empresa Hernandito Publicidad</h5>
    

       
      </div>

      <div class="col">
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="https://i.ibb.co/vh3zykn/png-transparent-marketing-user-experience-user-experience-design-text-facial-expression-conversation.png" alt="Card Front">
            </div>
            <div class="card-back">
              <p>Gestión de Usuarios
              </p>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="https://cdn-icons-png.flaticon.com/512/4365/4365924.png" alt="Card Front">
            </div>
            <div class="card-back">
              <p>Cátalogo de Libros</p>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="https://th.bing.com/th/id/OIP.kARokVgV6CKp3_AT0kMfDQHaJy?rs=1&pid=ImgDetMain" alt="Card Front">
            </div>
            <div class="card-back">
              <p> Gestión de Préstamos

              </p>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="https://th.bing.com/th/id/OIP.liAXcHIpO-Hk_UQ4ZfTZhQHaHa?rs=1&pid=ImgDetMain" alt="Card Front">
            </div>
            <div class="card-back">
              <p>Gestión de Ejemplares</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
{{> footer}}


</html>
