<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <!-- PAGE TITLE HERE -->
    <title>Biblioteca Virtual BIBUJA</title>


    <link href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">
    <link href="/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/vendor/jvmap/jquery-jvectormap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- tagify-css -->
    <link href="/vendor/tagify/dist/tagify.css" rel="stylesheet">

    <!-- Style css -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<body data-typography="poppins" data-theme-version="light" data-layout="vertical">


    <div id="main-wrapper">

        <!--********** navbar horizontal*************-->
        {{>navbarhor}}

        <!--********** navbar vertical*************-->
        {{> navbar}}

        <body>

            <div style="margin-left: 15%; margin-top: 5%;">


                <div class="container my-5">
                    <div class="row d-flex justify-content-end align-items-end">
                        <!-- primera columna para el texto -->
                        <div class="col-md-6">

                            <h2>Tema 1.4 Jugadores Involucrados </h2>
                            <p>El análisis de involucrados es la identificación de los actores del proyecto, lo que
                                incluye la investigación e interpretación de sus necesidades, expectativas e intereses.

                                En dicho análisis, además de identificarlos definimos su rol, participación e impacto.
                                Esto lo hacemos para crear estrategias que permitan beneficiar al proyecto y asegurar su
                                continuidad y posterior éxito.
                            </p>


                        </div>
                        <!-- segunda columna para el video -->
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" style="margin-left: 20%;"
                                    src="https://youtube.com/embed/v47hwVK_CwY" width="400" height="220"
                                    allowfullscreen="allowfullscreen" allow="fullscreen" ></iframe>
                                <p class="text-center">
                                    Bibliografía
                                    del Pilar Jaimes Casallas, M. [@mariadelpilarjaimescasalla8615]. (2022, marzo 28).
                                    </p>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Presentacion De Canva Para la unidad  -->
                <div class="container my-5">
                    <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
                        <iframe loading="lazy"
                            style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                            src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFi7Q-FTzo&#x2F;view?embed"
                            allowfullscreen="allowfullscreen" allow="fullscreen">
                        </iframe>
                    </div>
                    <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFi7Q-FTzo&#x2F;view?utm_content=DAFi7Q-FTzo&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
                        target="_blank" rel="noopener">MEDOVAayd_JugadoresInvolucrados</a> de Johan Hernandez
                </div>

                <!-- Material Complementario PDFS ARTICULOS PAGINAS ETC -->
                <div class="container my-5">
                    <h1 class="text-center"> Material De Estudio </h1>
                </div>

                <div class="container my-5">
                    <div class="row justify-content-end">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Guía Metodológica General para la
                                        Formulación y Evaluación de Programas
                                        y Proyectos</h5>
                                    <p class="card-text">Descripción.

                                        <a href="https://uvirtual.cloud.ufps.edu.co/pluginfile.php/58995/mod_resource/content/1/Guia_Metodologica_General.pdf"
                                            target="_blank">
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                    </p>

                                    <a href="https://uvirtual.cloud.ufps.edu.co/pluginfile.php/58995/mod_resource/content/1/Guia_Metodologica_General.pdf"
                                        target="_blank">
                                        <embed
                                            src="https://uvirtual.cloud.ufps.edu.co/pluginfile.php/58995/mod_resource/content/1/Guia_Metodologica_General.pdf"
                                            width="230" height="150" type="application/pdf">
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Guía de los fundaments para la dirección de proyectos: PMBOK
                                    </h5>
                                    <p class="card-text">Descripción
                                        <a href="https://uvirtual.cloud.ufps.edu.co/pluginfile.php/51683/mod_folder/content/0/PMBOK%206TH%20%281%29.pdf?forcedownload=1"
                                            target="_blank">
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                    </p>
                                    <embed
                                        src="https://uvirtual.cloud.ufps.edu.co/pluginfile.php/51683/mod_folder/content/0/PMBOK%206TH%20%281%29.pdf?forcedownload=1"
                                        width="230" height="150" type="application/pdf" a
                                        href="https://uvirtual.cloud.ufps.edu.co/pluginfile.php/51683/mod_folder/content/0/PMBOK%206TH%20%281%29.pdf?forcedownload=1">


                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Director de proyectos</h5>
                                    <p class="card-text">Descripcion
                                        <a href="https://uvirtual.cloud.ufps.edu.co/pluginfile.php/51683/mod_folder/content/0/dp_lledo_5.7.pdf?forcedownload=1"
                                            target="_blank">
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                    </p>
                                    <embed
                                        src="https://uvirtual.cloud.ufps.edu.co/pluginfile.php/51683/mod_folder/content/0/dp_lledo_5.7.pdf?forcedownload=1"
                                        width="230" height="150" type="application/pdf" a
                                        href="https://uvirtual.cloud.ufps.edu.co/pluginfile.php/51683/mod_folder/content/0/dp_lledo_5.7.pdf?forcedownload=1">


                                </div>
                            </div>
                        </div>

                        <!--
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Pagina Sistemas De Informacion</h5>
                                    <p class="card-text">Descripcion
                                        <a href="https://www.uv.mx/personal/alsalas/files/2015/11/SISTEMAS-DE-INFORMACION.pdf"
                                            target="_blank">
                                            <i class="fas fa-external-link-alt"></i>
                                    </p>
                                    <embed
                                        src=" https://www.uv.mx/personal/alsalas/files/2015/11/SISTEMAS-DE-INFORMACION.pdf"
                                        width="230" height="150" type="application/pdf" a
                                        href=" https://www.uv.mx/personal/alsalas/files/2015/11/SISTEMAS-DE-INFORMACION.pdf">


                                </div>
                            </div>
                        </div>
                        -->
                    </div>

                    <!-- Actividad de refuerzo  -->
                    <div class="container my-5">

                        <h1 class="text-center"> Actividad De Refuerzo </h1>
                    </div>

                    <iframe width="1125" height="500" frameborder="0"
                        src="https://es.educaplay.com/juego/7309085-stakeholrders.html"></iframe>

                </div>
            </div>


        </body>

        {{> footerhor}}


        <!-- Required vendors -->
        <script src="./vendor/global/global.min.js"></script>
        <script src="./vendor/chart.js/Chart.bundle.min.js"></script>
        <script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="./vendor/apexchart/apexchart.js"></script>

        <!-- Dashboard 1 -->
        <script src="./js/dashboard/dashboard-1.js"></script>
        <script src="./vendor/draggable/draggable.js"></script>


        <!-- tagify -->
        <script src="./vendor/tagify/dist/tagify.js"></script>

        <script src="./vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="./vendor/datatables/js/dataTables.buttons.min.js"></script>
        <script src="./vendor/datatables/js/buttons.html5.min.js"></script>
        <script src="./vendor/datatables/js/jszip.min.js"></script>
        <script src="./js/plugins-init/datatables.init.js"></script>

        <!-- Apex Chart -->

        <script src="vendor/bootstrap-datetimepicker/js/moment.js"></script>
        <script src="vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>


        <!-- Vectormap -->
        <script src="./vendor/jqvmap/js/jquery.vmap.min.js"></script>
        <script src="./vendor/jqvmap/js/jquery.vmap.world.js"></script>
        <script src="./vendor/jqvmap/js/jquery.vmap.usa.js"></script>
        <script src="./js/custom.js"></script>
        <script src="./js/deznav-init.js"></script>
        <script src="./js/demo.js"></script>
        <script src="./js/styleSwitcher.js"></script>



</body>

</html>