<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <!-- PAGE TITLE HERE -->
    <title>Biblioteca Virtual BIBUJA</title>


    <link href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">
    <link href="/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/vendor/jvmap/jquery-jvectormap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- tagify-css -->
    <link href="/vendor/tagify/dist/tagify.css" rel="stylesheet">

    <!-- Style css -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<body data-typography="poppins" data-theme-version="light" data-layout="vertical">


    <div id="main-wrapper">

        <!--********** navbar horizontal*************-->
        {{>navbarhor}}

        <!--********** navbar vertical*************-->
        {{> navbar}}

        <body>

            <div style="margin-left: 15%; margin-top: 5%;">


                <div class="container my-5">
                    <div class="row d-flex justify-content-end align-items-end">
                        <!-- primera columna para el texto -->
                        <div class="col-md-6">

                            <h2>Tema 1.6 Tipos de Sistemas de Información, Importancia y objetivos de los SI y
                                Tecnología de Red </h2>
                            <p>¡Hola! En esta sección, se abordarán tres temas importantes y fundamentales en el ámbito
                                de los
                                sistemas de
                                información, los cuales son los tipos de sistemas de informacion, la importancia de
                                estos y el objetivo, estos temas serán presentados a continuación. ¡Comencemos!
                            </p>


                        </div>
                        <!-- segunda columna para el video -->
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">

                                <iframe class="embed-responsive-item" style="margin-left: 20%;"
                                    src="https://www.youtube.com/embed/KQDYdpjRHkg" width="400" height="200"
                                    allowfullscreen="allowfullscreen" allow="fullscreen"> </iframe>
                                <p class="text-center">
                                    YouTube. (s/f). Youtube. Recuperado el 15 de mayo de 2023, de
                                    https://www.youtube.com/embed/KQDYdpjRHkg

                                    .</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Presentacion De Canva Para la unidad  -->
                <div class="container my-5">
                    <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
                        padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
                         border-radius: 8px; will-change: transform;">
                        <iframe loading="lazy"
                            style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                            src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFi8DiTvQA&#x2F;view?embed"
                            allowfullscreen="allowfullscreen" allow="fullscreen">
                        </iframe>
                    </div>
                    <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFi8DiTvQA&#x2F;view?utm_content=DAFi8DiTvQA&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
                        target="_blank" rel="noopener">MEDOVAayd_TiposSI</a> de Johan Hernandez
                </div>

                <!-- Material Complementario PDFS ARTICULOS PAGINAS ETC -->
                <div class="container my-5">
                    <h1 class="text-center"> Material De Estudio </h1>
                </div>

                <div class="container my-5">
                    <div class="row justify-content-end">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Sistemas de Información</h5>
                                    <p class="card-text">

                                        <a href="https://rua.ua.es/dspace/bitstream/10045/18830/6/Tema_2_-_Sistemas_de_Informacion.pdf"
                                            target="_blank">
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                    </p>

                                    <a href="https://rua.ua.es/dspace/bitstream/10045/18830/6/Tema_2_-_Sistemas_de_Informacion.pdf"
                                        target="_blank">
                                        <embed
                                            src="https://rua.ua.es/dspace/bitstream/10045/18830/6/Tema_2_-_Sistemas_de_Informacion.pdf"
                                            width="230" height="150" type="application/pdf">
                                    </a>
                                    <p>
                                        Bibliografía
                                        (S/f). Rua.ua.es. Recuperado el 15 de mayo de 2023, de
                                        https://rua.ua.es/dspace/bitstream/10045/18830/6/Tema_2_-_Sistemas_de_Informacion.pdf
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Importancia de los Sistemas de Información </h5>
                                    <p class="card-text">
                                        <a href="https://cursa.ihmc.us/rid=1NS6XX71W-29LN31F-254J/LA%20IMPORTANCIA%20DE%20LOS%20SISTEMAS%20DE%20INFORMACI%C3%93N%20Y.pdf"
                                            target="_blank">
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                    </p>
                                    <embed
                                        src="https://cursa.ihmc.us/rid=1NS6XX71W-29LN31F-254J/LA%20IMPORTANCIA%20DE%20LOS%20SISTEMAS%20DE%20INFORMACI%C3%93N%20Y.pdf"
                                        width="230" height="150" type="application/pdf" a
                                        href="https://cursa.ihmc.us/rid=1NS6XX71W-29LN31F-254J/LA%20IMPORTANCIA%20DE%20LOS%20SISTEMAS%20DE%20INFORMACI%C3%93N%20Y.pdf">

                                    <p>Bibliografía
                                        Fleitman, J. (s/f). LA IMPORTANCIA DE LOS SISTEMAS DE INFORMACIÓN Y CONTROL EN
                                        LA EMPRESA. Ihmc.us. 
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Objetivos Sistemas De Informacion</h5>
                                    <p class="card-text">
                                        <a href="https://prometeusgs.com/el-rol-estrategico-hoy-de-los-sistemas-de-informacion/#:~:text=Estos%20cumplen%20tres%20objetivos%20fundamentales,de%20su%20implantaci%C3%B3n%20y%20uso"
                                            target="_blank">
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                    </p>
                                    <embed
                                        src="https://prometeusgs.com/el-rol-estrategico-hoy-de-los-sistemas-de-informacion/#:~:text=Estos%20cumplen%20tres%20objetivos%20fundamentales,de%20su%20implantaci%C3%B3n%20y%20uso"
                                        width="230" height="150" type="application/pdf" a
                                        href="https://prometeusgs.com/el-rol-estrategico-hoy-de-los-sistemas-de-informacion/#:~:text=Estos%20cumplen%20tres%20objetivos%20fundamentales,de%20su%20implantaci%C3%B3n%20y%20uso">

                                    <p>
                                        Bibliografía
                                        El rol estratégico hoy de los Sistemas de Información. (2021, marzo 22).
                                        Prometeus Global Solutions.
                                        https://prometeusgs.com/el-rol-estrategico-hoy-de-los-sistemas-de-informacion/
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Caracteristicas Sistemas De Informacion</h5>
                                    <p class="card-text">
                                        <a href="https://humanidades.com/sistema-de-informacion/" target="_blank">
                                            <i class="fas fa-external-link-alt"></i>
                                    </p>
                                    <embed src=" https://humanidades.com/sistema-de-informacion/" width="230"
                                        height="150" type="application/pdf" a
                                        href=" https://humanidades.com/sistema-de-informacion/">

                                    <p>
                                        Bibliografía
                                        Sistema de información: usos, ejemplos y características. (s/f). Recuperado el
                                        15 de mayo de 2023, de https://humanidades.com/sistema-de-informacion/
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Actividad de refuerzo  -->
                    <div class="container my-5">

                        <h1 class="text-center"> Actividad De Refuerzo </h1>
                    </div>
                    <iframe width="1125" height="500" frameborder="0"
                        src="https://es.educaplay.com/juego/14896609-tipos_de_sistemas_de_informacion_importancia_y_objetivos_de_los_si_tecnologia_de_red_y_componentes_de_los_si.html"></iframe>
                </div>
            </div>


        </body>

        {{> footerhor}}


        <!-- Required vendors -->
        <script src="./vendor/global/global.min.js"></script>
        <script src="./vendor/chart.js/Chart.bundle.min.js"></script>
        <script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="./vendor/apexchart/apexchart.js"></script>

        <!-- Dashboard 1 -->
        <script src="./js/dashboard/dashboard-1.js"></script>
        <script src="./vendor/draggable/draggable.js"></script>


        <!-- tagify -->
        <script src="./vendor/tagify/dist/tagify.js"></script>

        <script src="./vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="./vendor/datatables/js/dataTables.buttons.min.js"></script>
        <script src="./vendor/datatables/js/buttons.html5.min.js"></script>
        <script src="./vendor/datatables/js/jszip.min.js"></script>
        <script src="./js/plugins-init/datatables.init.js"></script>

        <!-- Apex Chart -->

        <script src="vendor/bootstrap-datetimepicker/js/moment.js"></script>
        <script src="vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>


        <!-- Vectormap -->
        <script src="./vendor/jqvmap/js/jquery.vmap.min.js"></script>
        <script src="./vendor/jqvmap/js/jquery.vmap.world.js"></script>
        <script src="./vendor/jqvmap/js/jquery.vmap.usa.js"></script>
        <script src="./js/custom.js"></script>
        <script src="./js/deznav-init.js"></script>
        <script src="./js/demo.js"></script>
        <script src="./js/styleSwitcher.js"></script>



</body>

</html>