<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	<!-- PAGE TITLE HERE -->
	<title>Biblioteca Virtual BIBUJA</title>
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">
	<link href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

</head>
{{> header}}

<body class="vh-50">
	<div class="page-wraper" style="display: flex; flex-direction: row;">
		<!-- Imagen -->
		<div style="background:#f7f7f7 url(https://i.ibb.co/LxGK9cd/006-library-biblioteca-angelica-a-roma-0002.jpg); height: 89vh; width: 100%; border-radius: 0px;">
		</div>
		<!-- Formulario -->
		<div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 " style="width: 50%; margin-top: 20px; margin-bottom: 50px;">

			<div class="login-form style-2">
				<div class="card-body">
					<h3 class="form-title m-0">Registrate Aqui</h3>
					<ul class="nav nav-tabs border-bottom-0" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="nav-personal-tab" data-bs-toggle="tab" href="#nav-personal"
								role="tab" aria-controls="nav-personal" aria-selected="true">Registro</a>
						</li>
					</ul>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-personal" role="tabpanel"
							aria-labelledby="nav-personal-tab">
							<form action="/registro" method="POST" class="dz-form">
								<div class="form-group mb-3">
									<label for="nombre">Nombre</label>
									<input type="text" name="nombre" class="form-control" required>
								</div>
								<div class="form-group mb-3">
									<label for="apellidos">Apellidos</label>
									<input type="text" name="apellidos" class="form-control" required>
								</div>
								<div class="form-group mb-3">
									<label for="fecha_nacimiento">Fecha de Nacimiento</label>
									<input type="date" name="fecha_nacimiento" class="form-control" required>
								</div>
								<div class="form-group mb-3">
									<label for="telefono">Teléfono</label>
									<input type="tel" name="telefono" class="form-control" required>
								</div>
								<div class="form-group mb-3">
									<label for="direccion">Dirección</label>
									<input type="text" name="direccion" class="form-control" required>
								</div>
								<div class="form-group mb-3">
									<label for="cedula">Cédula</label>
									<input type="text" name="cedula" class="form-control" required>
								</div>
								<div class="form-group mb-3">
									<label for="tipo_usuario">Tipo de Lector</label>
									<select name="tipo_usuario" class="form-control" required>
										<option value="profesor">Profesor</option>
										<option value="alumno">Alumno</option>
									</select>
								</div>
								<div class="form-group mb-3">
									<label for="contrasena">Contraseña</label>
									<input type="password" name="password" class="form-control" required>
								</div>
								<div class="form-group mb-3">
									<label for="password-confirm">Confirmar contraseña</label>
									<input type="password" name="ppassword" class="form-control" required>
								</div>
								<div class="text-center">
									<button class="btn btn-danger button-md btn-block" type="submit">Crear una
										cuenta</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- **********************************Scripts ***********************************-->
	<script src="./vendor/global/global.min.js"></script>
	<script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="js/deznav-init.js"></script>
	<script src="./js/custom.js"></script>
	<script src="./js/demo.js"></script>
	<script src="./js/styleSwitcher.js"></script>
</body>
{{> footer}}

</html>