  <header>
  <style>
      .navbar-custom {
          background-color: black; /* Fondo negro */
          color: white; /* Texto blanco */
      }
      .navbar-custom a {
          color: white; /* Enlaces blancos */
          text-decoration: none; /* Sin subrayado */
      }
      .navbar-custom a:hover {
          color: gray; /* Cambia a gris al pasar el cursor */
      }
  </style>
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <img src="https://i.ibb.co/gZXv5Yh/image.png" alt="Logo Mini" class="img-fluid" style="max-height: 30px;">
      <a class="badge navbar-brand">Hernandito Publicidad
</a>
      <form class="d-flex" role="search">
        <button onclick="location.href='/'" type="button" class="badge  me-2 btn ">Inicio</button>
     
        <button onclick="location.href='/registro'"   type="button" class="badge me-2 btn ">Registro</button>
        <button onclick="location.href='/login'" type="button" class=" badge me-2 btn btn-outline-light text-bg-dark">Inicia Sesion</button>
      </form>
    </div>
  </nav>
</header>