 <div class="nav-header  bg-danger">
      <a class="badge navbar-brand ">Biblioteca Virtual BIBUJA</a>
      <div class="nav-control  bg-danger">
        <div class="hamburger  bg-danger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </div>
    </div>
<div class="header bg-danger">
			<div class="header-content ">
				<nav class="navbar navbar-expand">
					<div class="collapse navbar-collapse justify-content-between">
						<div class="header-right   "></div>
							<ul class="navbar-nav header-right">
								<li class="nav-item ps-3">
									<div class="dropdown header-profile2">
										<a class="nav-link" href="javascript:void(0);" role="button"
											data-bs-toggle="dropdown" aria-expanded="false">
											<div class="header-info2 d-flex align-items-center">
												<div class="header-info">
													<h6>Bienvenido</h6>
													<p>a la plataforma</p>
												</div>

											</div>
										</a>
									</div>
								</li>
								<li class="nav-item align-items-center header-border ">
									<a href="/" class="btn btn-light btn-sm ">Salir</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>